.nav-enlace{  
    display: inline-block; 
    background:     #BF5F72;
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    border: 2px #000000;   
    border-radius: 5%;
    

}
.nav-enlace:hover{
    background: #A00F2C;
}
nav{
    background: #2F2E2E;
    display: flex;
    justify-content: space-around;
    border-radius: 2%;
    box-shadow: 5px 5px 4px gray;
}
.nav-button{
    background: #BF5F72;
    color: #fff;
    padding: 10px 0;
    display: none;
}
.logo{
    height: 100%;
    width: auto;
}
@media (max-width: 475px){
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-button{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    .logo{
        width: auto;
    }
}